// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 NXP
 */

#include "imx8mn-evk-root.dts"

&i2c3 {
       status = "disabled";
};

&iomuxc {
       pinctrl-names = "default";
       pinctrl-0 = <&pinctrl_i2c3>;
};
