// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mp.dtsi"

/ {
	model = "RFNM imx8mp";
	compatible = "fsl,imx8mp-evk", "fsl,imx8mp";

	chosen {
		stdout-path = &uart2;
	};


	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0 0x80000000>;
	};

	reg_audio_pwr: regulator-audio-pwr {
		compatible = "regulator-fixed";
		regulator-name = "audio-pwr";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 29 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};


	sound-hdmi {
		compatible = "fsl,imx-audio-hdmi";
		model = "audio-hdmi";
		audio-cpu = <&aud2htx>;
		hdmi-out;
		constraint-rate = <44100>,
				<88200>,
				<176400>,
				<32000>,
				<48000>,
				<96000>,
				<192000>;
		status = "okay";
	};
};



&A53_0 {
	cpu-supply = <&buck2>;
};

&A53_1 {
	cpu-supply = <&buck2>;
};

&A53_2 {
	cpu-supply = <&buck2>;
};

&A53_3 {
	cpu-supply = <&buck2>;
};


&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	snps,force_thresh_dma_mode;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	snps,mtl-rx-config = <&mtl_rx_setup>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			eee-broken-1000t;
			realtek,clkout-disable;
			//reset-gpios = <&gpio5 5 GPIO_ACTIVE_LOW>;
			//reset-assert-us = <15000>;
			//reset-deassert-us = <100000>;
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <5>;
		snps,tx-sched-sp;
		queue0 {
			snps,dcb-algorithm;
			snps,priority = <0x1>;
		};
		queue1 {
			snps,dcb-algorithm;
			snps,priority = <0x2>;
		};
		queue2 {
			snps,dcb-algorithm;
			snps,priority = <0x4>;
		};
		queue3 {
			snps,dcb-algorithm;
			snps,priority = <0x8>;
		};
		queue4 {
			snps,dcb-algorithm;
			snps,priority = <0xf0>;
		};
	};
	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <5>;
		snps,rx-sched-sp;
		queue0 {
			snps,dcb-algorithm;
			snps,priority = <0x1>;
			snps,map-to-dma-channel = <0>;
		};
		queue1 {
			snps,dcb-algorithm;
			snps,priority = <0x2>;
			snps,map-to-dma-channel = <1>;
		};
		queue2 {
			snps,dcb-algorithm;
			snps,priority = <0x4>;
			snps,map-to-dma-channel = <2>;
		};
		queue3 {
			snps,dcb-algorithm;
			snps,priority = <0x8>;
			snps,map-to-dma-channel = <3>;
		};
		queue4 {
			snps,dcb-algorithm;
			snps,priority = <0xf0>;
			snps,map-to-dma-channel = <4>;
		};
	};
};


&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic@25 {
		compatible = "nxp,pca9450c";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupt-parent = <&gpio1>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			buck1: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
				nxp,dvs-run-voltage = <950000>;
				nxp,dvs-standby-voltage = <850000>;
			};

			buck4: BUCK4{
				regulator-name = "BUCK4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5: BUCK5{
				regulator-name = "BUCK5";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6: BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2: LDO2 {
				regulator-name = "LDO2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1150000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3: LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5: LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};



&snvs_pwrkey {
	status = "okay";
};

&xcvr {
	#sound-dai-cells = <0>;
	status = "okay";
};

&sdma2 {
	status = "okay";
};


&uart2 {
	/* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};


&iomuxc {
    pinctrl-names = "default_iomuxc";
    pinctrl-0 = <&pinctrl_eqos>;


    imx8mp-custom-board {
        pinctrl_eqos: eqosgrp {                            /*!< Function assigned for the core: Cortex-A53[a53_0] */
/*
 * TEXT BELOW IS USED AS SETTING FOR TOOLS *************************************
pinctrl_eqos:
- options: {callFromInitBoot: 'false', coreID: a53_0}
- pin_list:
  - {pin_num: AH28, peripheral: ENET_QOS, signal: enet_qos_mdc, pin_signal: ENET_MDC, PE: Disabled}
  - {pin_num: AH29, peripheral: ENET_QOS, signal: enet_qos_mdio, pin_signal: ENET_MDIO, PE: Disabled}
  - {pin_num: AF24, peripheral: ENET_QOS, signal: enet_qos_rgmii_tx_ctl, pin_signal: ENET_TX_CTL, PE: Disabled, FSEL: Fast, DSE: X6}
  - {pin_num: AE24, peripheral: ENET_QOS, signal: enet_qos_rgmii_txc, pin_signal: ENET_TXC, PE: Disabled, FSEL: Fast, DSE: X6}
  - {pin_num: AC25, peripheral: ENET_QOS, signal: 'enet_qos_rgmii_td, 0', pin_signal: ENET_TD0, PE: Disabled, FSEL: Fast, DSE: X6}
  - {pin_num: AE26, peripheral: ENET_QOS, signal: 'enet_qos_rgmii_td, 1', pin_signal: ENET_TD1, PE: Disabled, FSEL: Fast, DSE: X6}
  - {pin_num: AF26, peripheral: ENET_QOS, signal: 'enet_qos_rgmii_td, 2', pin_signal: ENET_TD2, PE: Disabled, FSEL: Fast, DSE: X6}
  - {pin_num: AD24, peripheral: ENET_QOS, signal: 'enet_qos_rgmii_td, 3', pin_signal: ENET_TD3, PE: Disabled, FSEL: Fast, DSE: X6}
  - {pin_num: AE28, peripheral: ENET_QOS, signal: enet_qos_rgmii_rx_ctl, pin_signal: ENET_RX_CTL, PE: Disabled, FSEL: Fast, DSE: X4, SION: ENABLED}
  - {pin_num: AE29, peripheral: ENET_QOS, signal: enet_qos_rgmii_rxc, pin_signal: ENET_RXC, PE: Disabled, FSEL: Fast, DSE: X4}
  - {pin_num: AG29, peripheral: ENET_QOS, signal: 'enet_qos_rgmii_rd, 0', pin_signal: ENET_RD0, PE: Disabled, FSEL: Fast, DSE: X4}
  - {pin_num: AG28, peripheral: ENET_QOS, signal: 'enet_qos_rgmii_rd, 1', pin_signal: ENET_RD1, PE: Disabled, FSEL: Fast, DSE: X4}
  - {pin_num: AF29, peripheral: ENET_QOS, signal: 'enet_qos_rgmii_rd, 2', pin_signal: ENET_RD2, PE: Disabled, FSEL: Fast, DSE: X4}
  - {pin_num: AF28, peripheral: ENET_QOS, signal: 'enet_qos_rgmii_rd, 3', pin_signal: ENET_RD3, PE: Disabled, FSEL: Fast, DSE: X4}
  - {pin_num: AC18, peripheral: GPIO5, signal: 'gpio_io, 05', pin_signal: SPDIF_EXT_CLK, direction: OUTPUT, PUE: Weak_Pull_Up, ODE: Open_Drain_Disable}
  - {pin_num: AH17, peripheral: GPIO4, signal: 'gpio_io, 21', pin_signal: SAI2_RXFS}
 * BE CAREFUL MODIFYING THIS COMMENT - IT IS YAML SETTINGS FOR TOOLS ***********
 */
            fsl,pins = <
                MX8MP_IOMUXC_ENET_MDC__ENET_QOS_MDC	0x3
			MX8MP_IOMUXC_ENET_MDIO__ENET_QOS_MDIO	0x3
			MX8MP_IOMUXC_ENET_RD0__ENET_QOS_RGMII_RD0	0x91
			MX8MP_IOMUXC_ENET_RD1__ENET_QOS_RGMII_RD1	0x91
			MX8MP_IOMUXC_ENET_RD2__ENET_QOS_RGMII_RD2	0x91
			MX8MP_IOMUXC_ENET_RD3__ENET_QOS_RGMII_RD3	0x91
			MX8MP_IOMUXC_ENET_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x91
			MX8MP_IOMUXC_ENET_RX_CTL__ENET_QOS_RGMII_RX_CTL	0x91
			MX8MP_IOMUXC_ENET_TD0__ENET_QOS_RGMII_TD0		0x1f
			MX8MP_IOMUXC_ENET_TD1__ENET_QOS_RGMII_TD1		0x1f
			MX8MP_IOMUXC_ENET_TD2__ENET_QOS_RGMII_TD2		0x1f
			MX8MP_IOMUXC_ENET_TD3__ENET_QOS_RGMII_TD3		0x1f
			MX8MP_IOMUXC_ENET_TX_CTL__ENET_QOS_RGMII_TX_CTL	0x1f
			MX8MP_IOMUXC_ENET_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x1f
			MX8MP_IOMUXC_SPDIF_EXT_CLK__GPIO5_IO05		0x19
            >;
        };
        init_usdhc_pins: init_usdhc_pinsgrp {              /*!< Function assigned for the core: Cortex-A53[a53_0] */
/*
 * TEXT BELOW IS USED AS SETTING FOR TOOLS *************************************
init_usdhc_pins:
- options: {callFromInitBoot: 'false', coreID: a53_0}
- pin_list: []
 * BE CAREFUL MODIFYING THIS COMMENT - IT IS YAML SETTINGS FOR TOOLS ***********
 */
            fsl,pins = <
            >;
        };
        pinctrl_uart2: uart2grp {                          /*!< Function assigned for the core: Cortex-A53[a53_0] */
/*
 * TEXT BELOW IS USED AS SETTING FOR TOOLS *************************************
pinctrl_uart2:
- options: {callFromInitBoot: 'false', coreID: a53_0}
- pin_list:
  - {pin_num: V28, peripheral: UART2, signal: uart_rx, pin_signal: SD1_DATA3}
  - {pin_num: V29, peripheral: UART2, signal: uart_tx, pin_signal: SD1_DATA2}
 * BE CAREFUL MODIFYING THIS COMMENT - IT IS YAML SETTINGS FOR TOOLS ***********
 */
            fsl,pins = <
                MX8MP_IOMUXC_SD1_DATA2__UART2_DCE_TX       0x00000106
                MX8MP_IOMUXC_SD1_DATA3__UART2_DCE_RX       0x00000106
            >;
        };
        pinctrl_i2c1: i2c1grp {                            /*!< Function assigned for the core: Cortex-A53[a53_0] */
/*
 * TEXT BELOW IS USED AS SETTING FOR TOOLS *************************************
pinctrl_i2c1:
- options: {callFromInitBoot: 'false', coreID: a53_0}
- pin_list:
  - {pin_num: AC8, peripheral: I2C1, signal: i2c_scl, pin_signal: I2C1_SCL}
  - {pin_num: AH7, peripheral: I2C1, signal: i2c_sda, pin_signal: I2C1_SDA}
 * BE CAREFUL MODIFYING THIS COMMENT - IT IS YAML SETTINGS FOR TOOLS ***********
 */
            fsl,pins = <
                MX8MP_IOMUXC_I2C1_SCL__I2C1_SCL            0x400001c2
                MX8MP_IOMUXC_I2C1_SDA__I2C1_SDA            0x400001c2
            >;
        };
        init_ecspi_pins: init_ecspi_pinsgrp {              /*!< Function assigned for the core: Cortex-A53[a53_0] */
/*
 * TEXT BELOW IS USED AS SETTING FOR TOOLS *************************************
init_ecspi_pins:
- options: {callFromInitBoot: 'false', coreID: a53_0}
- pin_list: []
 * BE CAREFUL MODIFYING THIS COMMENT - IT IS YAML SETTINGS FOR TOOLS ***********
 */
            fsl,pins = <
            >;
        };
        init_gpio_pins: init_gpio_pinsgrp {                /*!< Function assigned for the core: Cortex-A53[a53_0] */
/*
 * TEXT BELOW IS USED AS SETTING FOR TOOLS *************************************
init_gpio_pins:
- options: {callFromInitBoot: 'false', coreID: a53_0}
- pin_list: []
 * BE CAREFUL MODIFYING THIS COMMENT - IT IS YAML SETTINGS FOR TOOLS ***********
 */
            fsl,pins = <
            >;
        };
        pinctrl_wdog: wdoggrp {                            /*!< Function assigned for the core: Cortex-A53[a53_0] */
/*
 * TEXT BELOW IS USED AS SETTING FOR TOOLS *************************************
pinctrl_wdog:
- options: {callFromInitBoot: 'false', coreID: a53_0}
- pin_list:
  - {pin_num: B6, peripheral: WDOG1, signal: wdog_wdog_b, pin_signal: GPIO1_IO02, PE: Enabled, HYS: CMOS, PUE: Weak_Pull_Up, ODE: Open_Drain_Enable, FSEL: Slow, DSE: X6,
    SION: DISABLED}
 * BE CAREFUL MODIFYING THIS COMMENT - IT IS YAML SETTINGS FOR TOOLS ***********
 */
            fsl,pins = <
                MX8MP_IOMUXC_GPIO1_IO02__WDOG1_WDOG_B      0x00000166
            >;
        };
        pinctrl_pmic: pmicgrp {                            /*!< Function assigned for the core: Cortex-A53[a53_0] */
/*
 * TEXT BELOW IS USED AS SETTING FOR TOOLS *************************************
pinctrl_pmic:
- options: {callFromInitBoot: 'false', coreID: a53_0}
- pin_list:
  - {pin_num: D6, peripheral: GPIO1, signal: 'gpio_io, 03', pin_signal: GPIO1_IO03, direction: INPUT, PE: Enabled, HYS: Schmitt, PUE: Weak_Pull_Up, FSEL: Slow, DSE: X1,
    SION: DISABLED}
 * BE CAREFUL MODIFYING THIS COMMENT - IT IS YAML SETTINGS FOR TOOLS ***********
 */
            fsl,pins = <
                MX8MP_IOMUXC_GPIO1_IO03__GPIO1_IO03        0x000001C0
            >;
        };
    };
};

&vpu_g1 {
	status = "okay";
};

&vpu_g2 {
	status = "okay";
};

&vpu_vc8000e {
	status = "okay";
};

&vpu_v4l2 {
	status = "okay";
};

&gpu_3d {
	status = "okay";
};

&gpu_2d {
	status = "okay";
};

&ml_vipsi {
	status = "okay";
};

&mix_gpu_ml {
	status = "okay";
};
